@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">***Coffe Critique***</h3>
    <hr class="hr" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
